#board {
  margin: 12px;
  border-top: 1px solid #C3D5FB;
  border-left: 1px solid #C3D5FB;
}

.row {
  display: flex;
}

.node {
  border-right: 1px solid #C3D5FB;
  border-bottom: 1px solid #C3D5FB;
  width: 25px;
  height: 25px;
}

.node-start {
  background-color: green;
}

.node-end {
  background-color: red;
}

.node:hover {
  opacity: 0.5;
}
