#board {
  margin: 12px;
  border-top: 1px solid #afd8f8;
  border-left: 1px solid #afd8f8;
}

.row {
  display: flex;
}

.node {
  border-right: 1px solid #afd8f8;
  border-bottom: 1px solid #afd8f8;
  width: 25px;
  height: 25px;
}

.node-start {
  background-color: green;
  cursor: pointer;
}

.node-end {
  background-color: red;
}

.node:hover {
  opacity: 0.9;
}

.path {
  background-color: #46cee3;
  width: 100%;
  height: 100%;
}
